p, h2, h3 {
	color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 1rem;
}

h1 {
    font-family: 'Merriweather', Georgia, "Times New Roman", serif;
		color: black;
		font-size: 2rem;
}

body{
	background-color:gray;
}

.aside1 {
	display:flex;
}

#container{
    width: 95%;
    background-color: white;
    margin: 0 auto;
		display: flex;
		flex-flow: wrap;
}

.navigation {
		list-style: none;
    padding: 0;
		margin: 0;
		display: flex;
		flex-flow: column;
		width: 100%;
		background-color: brown;
}

.navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0;
		font-family: 'Roboto', Helvetica, sans-serif;
		font-size: 1rem;
		color: white;
}

.navigation a:link, a:visited {
		display:block;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
		color: white;

}

.navigation li:hover, li:active {
    background-color: gray;
}

img {
  border-style: none;
	width: 100%;
}


@media (min-width: 800px){
	.navigation {
		display:flex;
		flex-flow: row;
		justify-content: space-between;;
	}

	#main {
		display: flex;
	}

	article {
		flex-grow: 2;
	}

	aside {
		flex-grow: 1;
	}

	.aside1 {
		display: flex;
		order: -1;
		width: 100%;
	}

	.aside2 {
		order: 1;
	}


/*.aside1 {
	order: 2;

}*/






}
