p {
	color: blue;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
		color: blue;
}

body{
	background-color:gray;
}

#container{
    width: 95%;
    background-color: black;
    margin: 0 auto;
}

#nav {
    padding: 0;
}

#nav li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: blue;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: gray;
}

img {
  border-style: none;
}
